body{
    background-color: darkgreen;
}


#player{
    border:  10px red solid;
  
   
}
#deck{
    font-size: 10% vw;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 100px 70px;
    width: 25px;
    max-width: 25px;
 
}
#deck_play{
    justify-content: center;
    display: flex;
}


/* color taken from uno minialist */
.yellow{
    background-color: #FBCA00;
}

.green{
    background-color: #3EBC00;
}

.blue{
    background-color: #005FAF;
}

.red{
    background-color: #f51b00;
}
.black{
    background-color: #412E2C;
}

.hand{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.player_hand{
    font-size: 10% vw;
    text-align: center;
    margin: 10px;
    color: white;
    padding: 100px 70px;
    width: 25px;
    max-width: 25px;
    /* text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; */

}

.display{
    display: inline;
}

.noDisplay{
    display: none;
}